<div class="diary_show--content--left_chat">
  <p>
    何か印象的な出来事はありましたか？
  </p>
</div>
<div class="diary_show--content--right_chat">
  <p>
    <% if @diary.impressive_event_exist.nil? %>
      (未入力)
    <% else %>
      <%= @diary.impressive_event_exist ? "はい" : "いいえ" %>
    <% end %>
  </p>
</div>

<% if @diary.impressive_event_exist %>
  <div class="diary_show--content--left_chat">
    <p>
      それは良い出来事でしたか？
    </p>
  </div>
  <div class="diary_show--content--right_chat">
    <p>
      <% if @diary.impressive_event_good.nil? %>
        (未入力)
      <% else %>
        <%= @diary.impressive_event_good ? "はい" : "いいえ" %>
      <% end %>
    </p>
  </div>

  <div class="diary_show--content--left_chat">
    <p>
      明日<%= @diary.impressive_event_good ? "も" : "は" %>良いことがあるといいですね！<br>
      今日は100点満点で何点でしたか？
    </p>
  </div>
<% else %>
<div class="diary_show--content--left_chat">
  <p>
    明日は良いことがあるといいですね！<br>
    今日は100点満点で何点でしたか？
  </p>
</div>
<% end %>

<div class="diary_show--content--right_chat">
  <p>
    <%= @diary.score.present? ? @diary.score.to_s + "点" : "(未入力)" %>
  </p>
</div>

<div class="diary_show--content--left_chat">
  <p>
    明日も、良い一日を。おやすみなさい♪
  </p>
</div>
