<div class="diary_show--content--left_chat">
  <p>
    どんなことが良かったですか？
  </p>
</div>
<div class="diary_show--content--right_chat">
  <% if @diary.detail.present? %>
    <%= simple_format(@diary.detail) %>
  <% else %>
    <p>(未入力)</p>
  <% end %>
</div>

<div class="diary_show--content--left_chat">
  <p>
    明日も良いことがあるといいですね！<br>
    今日は100点満点で何点でしたか？
  </p>
</div>
<div class="diary_show--content--right_chat">
  <p>
    <%= @diary.score.present? ? @diary.score.to_s + "点" : "(未入力)" %>
  </p>
</div>

<div class="diary_show--content--left_chat">
  <p>
    明日も、良い一日を。おやすみなさい♪
  </p>
</div>
